ul, li{margin-left:0;padding-left;0;list-style-type: none;}
li{padding: 3px;}
li:hover{background:#C2EA94;-webkit-border-radius: 4px;
        border-radius: 4px;cursor: pointer}
input[type="checkbox"]{margin:-1px 0 0 0}
input.wide{width: 100%;}
.playlist .icon-eject{float: right;cursor:pointer;}
.playlist li:hover{cursor:move;}
.item{display: inline-block; width: 85%; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; white-space: nowrap;}
*{-webkit-transition: background 0.2s;
-moz-transition: background 0.2s;
-ms-transition: background 0.2s;
-o-transition: background 0.2s;
transition: background 0.2s;}

input.tiny{width:30px}